.main{
    position: absolute;
    top: 10%;
}

.navigating-page .main{
    height: 700px;
}

.nav-panel{
    top: 30%;
    height: 400px;
}

.level-select-group .btn{
    margin: 0 10px;
}

.option {
    height: 50px;
    width: 50px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    line-height: 3;
}

.option.correct{
    background-color: #17c67182;
}

.option.incorrect{
    background-color: #c4183c66;
}

.asking-page {
    height: 700px;
}

.pointer {
    cursor:pointer;
}

.center {
    padding: 70px 0;
    border: 0;
    text-align: center;
}